/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
:root {
  --color1: #7E5DC0; /* purple */
  --color2: #4C6B52; /* green */
  --color3: #F3F6F4; /* white-green */
  --color4: #DCE5DD; /* green-white */
  --color5: #000000; /* black */
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: var(--color5);
  display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap; 
	text-align: left;
}

.content-wrapper{
  margin: 0 auto;
  width: 100%;
  }

.introduction-text,
.case-study-text {
  margin: 0 3.5%;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Temeraire", "serif";
  font-weight: 400;
}

h1 {
  font-size: 2.25em;
  line-height: 2.8125em;
  color: var(--color2);
}

h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  color: var(--color1);
}

h3 {
  font-size: 1.5em;
  line-height: 2.25em;
  color: var(--color5);
}

h4 {
  font-size: 1.125em;
  line-height: 1.375em;
  color: var(--color2);
  font-weight: bold;
}

h5 {
  font-size: 1.125em;
  line-height: 1.375em;
  color: var(--color5);
  font-weight: normal;
}
h5.hero {
  font-weight: bold;
}

p {
  font-size: 1em;
  line-height: 1.25em;
  color: var(--color5);
  font-weight: normal;
}
p.button{
  color: var(--color3);
}
p.type {
  font-weight: bold;
}
p.link {
  font-weight: bold;
  color: var(--color2);
}
p.label {
  font-size: 0.875em;
  line-height: 1em;
}

 
img {
  width: 100%;
}
 
figure {
  margin: 0;
  }
 
address {
  font-style: normal;
  color: var(--color5);
  }
 
/* ------- header styles ------ */
header {
  background-color: var(--color4);
  text-align: center;
  border-bottom: 3px solid var(--color1);
  width: 100%;
  margin: 0;
  padding-right: 20px;
}

header .content-wrapper {
  margin: 0 3.5%;
  display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap; 
	text-align: left;
}

header .logo {
  width: 35%;
}

header .buttons {
  width: 60%;
  display: flex;
	justify-content: right;
	align-items: center;
	flex-flow: row wrap; 
	text-align: left;
}

.button {
  background-color: var(--color2);
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: var(--color3);
}

.button:hover {
  background-color: var(--color1);
}

.dropbtn {
  background-color: var(--color4);
  color: var(--color2);
  padding: 10px;
  font-size: 1.5em;
  border: none;
  margin: 5px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: var(--color3);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:auto;
    right:0;
    margin-right:0px;
}

.dropdown-content a {
  color: var(--color5);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: var(--color4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--color3);
  color: var(--color2);
}



/* ------ main ----- */
main .content-wrapper {
  padding-top: 100px;
}


/* ------ hero ----- */
.hero {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 50%;
  text-align: left;
}


/* ------ intro ----- */
.introduction {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#cj-profile {
  width: 60%;
}


/* ------ work ----- */
h1 {
  margin: 0 3.5%;
  padding: 0px;
}

.case-studies {
  margin: 0;
}

.case-study {
  margin-bottom: 75px;
}

.case-study h3,
.case-study p.type {
  margin: 0px;
}

.case-study-text {
  margin: 0 3.5%;
}

#dorothy {
  margin-bottom: 0;
}





.about  {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.about-words h2 {
  color: var(--color3);
}

figure {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#profile-img {
  width: 35%;
  border: 1px solid var(--color2);
}

/* ------ skills and projects ----- */
.skills .content-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.skills-sec,
.tools-sec {
  width: 100%;
  margin: 0;
  height: auto; 
  align-items: center;
}

.tools-sec {
  padding-bottom: 20px;
}

.skills-header {
  background-color: var(--color2);
  width: 100%;
  text-align: center;
  padding: 0px;
  margin-top: 100px;
}

.skills-sec h3,
.tools-sec h3 {
  padding-bottom: 10px;
  text-align: center;
  color: var(--color2);
  margin: 0;
}

.tools-sec h3 {
  padding-top: 40px;
}

.skills-items,
.tools-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.skills-sec article,
.tools-sec article {
  width: 210px;
  background: var(--color4);
  color: var(--color2);
  text-align: center;
  font-size: 1.125em;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}



/* ------ footer ------ */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-direction: column;
  border-top: 3px solid var(--color4);
  width: 100%;
}

footer .content-wrapper {
  margin: 50px 0;
  text-align: center;
}

footer .contact {
  margin-bottom: 50px;
}

footer .contact p {
  color: var(--color5);
}

footer .copyright p {
  color: var(--color4);
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media all and (min-width:768px) {
  /* ----- general styles ----- */
  
}




@media all and (min-width:1200px) {
  
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

