/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
:root {
  --color1: #7E5DC0; /* purple */
  --color2: #4C6B52; /* green */
  --color3: #F3F6F4; /* white-green */
  --color4: #DCE5DD; /* green-white */
  --color5: #000000; /* black */
  --color6: #452F75; /* dark purple */
  --color7: #2B3B2F; /* dark green */
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", "Optima-Regular", sans-serif;
  font-size: 1rem;
  color: var(--color5);
  display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap; 
	text-align: left;
  margin: 0 auto;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + main {
  padding-top: 55px;
}

.content-wrapper, 
.introduction {
  margin: 5px 3.5%;
}

.introduction, 
.about,
.skills,
.work,
.project,
.process,
.conclusions {
  padding: 100px 0;
}

.case-study-title {
  padding-top: 100px;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Temeraire", "serif";
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: var(--color1);
}

h2 {
  font-size: 2.25rem;
  color: var(--color2);
  padding: 0px;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: var(--color5);
}

h4 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: var(--color5);
  font-weight: bold;
}

h4.link {
  color: var(--color2);
  margin: 0 0 5px 0;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--color5);
  font-weight: normal;
}

h5.introduction-emphasis {
  font-weight: bold;
  color: var(--color5);
  text-align: left;
}

h6 {
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--color5);
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--color5);
  font-weight: normal;
}

p.button {
  color: var(--color3);
}

p.link {
  font-weight: bold;
  color: var(--color2);
}

p.label, 
header a.button,
header .dropbtn,
header a.about-button {
  font-size: 0.875rem;
  line-height: 1rem;
}

a:link {
  color: var(--color2);
  font-weight: bold;
  text-decoration: underline;
}

.dropdown-content a {
  font-weight:normal;
}

.dropdown-content a.page{
  font-weight: bold;
}

a:visited {
  color: var(--color2);
}

a:hover {
  color: var(--color1);
}

a:active {
  color: var(--color6);
}

img {
  width: 100%;
}
 


/* ------- header styles ------ */ 
header {
  background-color: var(--color4);
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid var(--color1);
  width: 100%;
  margin: 0;
  z-index: 3;
}

.header-content  {
  display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap; 
	text-align: left;
  margin: 0 1%;
}

header .logo {
  width: 30%;
  margin: 3px 0;
}

header .buttons {
  display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap; 
	text-align: left;
}

header .button {
  background-color: var(--color2);
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2.5px;
}

.buttons .button {
  background-color: var(--color2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: var(--color3);
}

header .button:hover {
  background-color: var(--color1);
}

header .dropbtn,
header .about-button {
  background-color: var(--color4);
  color: var(--color2);
  border: none;
  margin: 2.5px;
}

header .dropbtn a {
  text-decoration: none;
}

a.about-button {
  text-decoration: none;
  font-weight: 400;
  color: var(--color5);
  padding: 2px 5px;
}

header .dropdown {
  position: relative;
  display: inline-block;
}

header .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color3);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  left: 0;
  right: auto;
  margin-right:0px;
  padding: 0 5px;
}

#home {
  width: 145px;
}

#portfolio {
  width: 155px;
}

header .dropdown-content {
  padding: 7px 0;
}

header .dropdown-content a {
  color: var(--color5);
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 5px 10px;
}

header .dropdown-content a:hover {
  background-color: var(--color4);
}

header .dropdown:hover .dropdown-content {
  display: block;
}

header .dropdown:hover .dropbtn {
  background-color: var(--color3);
  color: var(--color2);
}

header .about-button:hover {
  background-color: var(--color3);
}




/* ------ hero ----- */
.hero {
  position: relative;
  text-align: center;
  color: white;
  z-index: 0;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 50%;
  text-align: left;
  z-index: 1;
}



/* ------ intro ----- */
#introduction-link {
  display: flex;
  justify-content: center;
}

.introduction {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.introduction h5 {
  margin: 25px 0 0 0;
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#cj-profile {
  width: 60%;
}



/* ------ projects ----- */
#projects-link {
  display: flex;
  justify-content: center;
}

.case-study-title,
.case-study-blurb {
  background-color: var(--color4);
  width: 100%; 
}

.case-study-title {
  width: 100%;
}

.case-study-title .projects-centered {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.projects-centered {
  display: flex;
  justify-content: center;
}

.case-study-blurb {
  padding-bottom: 75px;
}

.case-study-title h2 {
  padding: 0px;
}

.case-study-intro {
  margin: 0 0 75px 0;
}

.case-study-blurb h3,
.case-study-blurb h6,
.case-study-intro h3,
.case-study-intro h6 {
  margin: 0px;
}

.case-study-text,
.case-study-intro {
  margin: 0;
  text-align: left;
}

.case-study.no-bottom {
  margin-bottom: 0px;
}



/* ------ skills ----- */
.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.skills-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.skill {
  width: 55%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 10%;
}

.skill .fontawesome-icon {
  color: var(--color1);
  font-size: 50px;
  margin: 0 0 5px 0;
  
}

.skill h4 {
  margin: 5px 0;
}

.skill p {
  margin: 0;
  text-align: left;
}

.lists {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 75px;
}

.lists h3,
.lists p {
  margin: 0 0 5px 0;
}

.list-skills {
  margin-bottom: 30px;
}



/* ------ work ----- */
.work {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color4);
}

.work-text h4.title {
  margin: 40px 0 0 0;
}

.resume {
  margin: 25px 0 0 0;
}



/* ------ about ----- */
.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.people, .cats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 33px 0 50px 0;
}

.people .image {
  width: 45%;
  display: flex;
  flex-flow: column wrap;
  justify-content: right;
  align-items: flex-start;
}

.cats .image {
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: right;
  align-items: flex-start;
}

.label {
  margin: 1px;
}



/* ------ footer ------ */
footer {
  background-color: var(--color4);
  width: 100%;
  display: flex;
	justify-content: center;
}

footer .footer-content {
  display: flex;
	justify-content: center;
}

footer .content-wrapper {
  margin: 100px 3.5% 25px 3.5%;
  text-align: left;
}

.contact-form {
  margin: 50px 0 75px 0;
}

.address {
  font-style: normal;
  color: var(--color5);
  margin: 25px 0;
}

.address h5 {
  margin: 0;
}

.business-card {
  margin: 25px 0;
}

.social {
  margin: 75px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: space-around;
  flex-flow: row wrap;
}

.account {
  display: flex;
  justify-content: space-around;
  width: 45%;
  margin: 0;
  padding: 0;
}

.social .fa {
  color: var(--color2);
  font-size: 20px;
  margin: 10px 10px 10px 0;
}

.social p {
  color: var(--color2);
}

footer .copyright p {
  color: var(--color1);
  font-weight: bold;
  text-align: center;
}



/* ------- case study ------- */
.case-study-hero {
  padding: 0 0 100px 0;
}

.case-study-hero img {
  margin-bottom: 10px;
}

.case-study-intro,
.project,
.process {
  display: flex;
  justify-content: center;
}

.case-study-hero,
.process {
  background-color: var(--color4);
}

.project h3,
.process h3,
.conclusions h3 {
  margin: 0 0 10px 0;
}

.case-study-section {
  margin-bottom: 75px;
}

.case-study-image {
  background: white;
  margin: 33px 0 50px 0;
}

.case-study-image img {
  width: 95%;
  margin: 2.5%;
}

.case-study-image p.label,
.case-study-mockup p.label {
  padding: 0 2.5% 2.5% 2.5%;
  margin-bottom: 0;
}

.case-study-section p,
.case-study-section.no-bottom p {
  margin-bottom: 30px;
}

.beside,
.thirds,
.scaled {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
}

.beside img {
  width: 44%;
}

.thirds img {
  width: 27%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.column .case-study-image {
  margin-bottom: 50px;
}

.column-mobile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 33px 0 50px;
  padding-bottom: 0;
}

.column-mobile p,
.column-mobile .case-study-image,
.column-mobile .stack {
  margin-top: 0;
  margin-bottom: 0px;
  width: 47%;
}

.column-mobile .stack p {
  width: 100%;
}

.column-mobile p.label {
  width: 95%;
  margin-bottom: 2.5%;
} 

.designs {
  background: white;
  margin: 33px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 2.5% 2.5% 0 2.5%;
}

.designs .scaled.mobile {
  width: 13.57%;
}

.designs .scaled.tablet {
  width: 32.56%;
}

.designs .scaled.desktop {
  width: 50.87%;
}

.designs p {
  margin: 2.5% 0;
}

.case-study-mockup {
  background: var(--color4);
  margin: 33px 0 50px 0;
}

.case-study-mockup img {
  margin: 10px 0;
}

.no-bottom {
  margin-bottom: 0px;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media all and (min-width:768px) {
  /* ----- general styles ----- */
  h1 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 3.25rem;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h4,
  h4.link {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h4.link {
    margin: 0 0 10px 0;
  }

  h5,
  h5.a {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h6,
  p,
  p.a, 
  a {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  p.label,
  header .dropbtn,
  header a.button,
  .dropdown-content a,
  header a.about-button {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  .introduction, 
  .about,
  .skills,
  .work,
  .project,
  .process,
  .conclusions {
    padding: 125px 0;
  }

  .projects {
    padding-top: 125px;
  }

  .introduction, 
  .work,
  .about,
  .skills,
  .footer {
    display: flex;
    justify-content: center;
  }

  .content-wrapper {
    width: 75%;
    margin: 5px 2.6%;
  }



  /* ------- header ------- */
  #cj-buys-logo {
    max-height: 75px;
    width: auto;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap; 
    text-align: left;
    width: 100%;
  }

  #home {
    width: 160px;
  }
  
  #portfolio {
    width: 170px;
  }



  /* ------- hero ------- */
  .bottom-left {
    bottom: 35px;
  }
  


  /* ------- intro -------- */
  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .introduction .image,
  .introduction-text {
    width: 48%;
  }

  .introduction h5.introduction-emphasis {
    margin-top: 0;
  }
  
  #cj-profile {
    width: 100%;
  }



  /* ------- projects -------- */
  .case-study-title .projects-centered {
    width: 75%;
    display: flex;
    justify-content: flex-start;
  }

  .case-study-title .projects-centered .content-wrapper {
    margin-left: 0px;
  }

  .case-study .image {
    margin-bottom: 10px;
  }



  /* ------- skills -------- */
  .skills-list {
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .skill {
    width: 39%;
    margin: 30px 0;
  }

  .skill .fontawesome-icon {
    font-size: 75px;
    margin: 0 0 10px 0;
  }

  .lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .lists p {
    margin: 0 0 10px 0;
  }

  .list-skills,
  .list-tools {
    width: 47%;
    margin-bottom: 0;
  }



  /* ------- about -------- */
  .people {
    justify-content: space-around;
  }

  .people .image {
    display: flex;
    flex-flow: column wrap;
    justify-content: right;
    align-items: flex-start;
  }

  .people .img {
    width: 49%;
  }



  /* ------- footer -------- */
  footer .content-wrapper {
    margin: 125px 2.6% 40px 2.6%;
    text-align: left;
  }
  
  .contact-form {
    margin: 50px 0 75px 0;
  }
  
  .address {
    font-style: normal;
    color: var(--color5);
    margin: 40px 0;
  }
  
  .address h5 {
    margin: 0;
  }
  
  .business-card {
    margin: 40px 0;
  }
  
  .social {
    margin: 100px 0;
  }
  
  .social .fa { 
    font-size: 30px;
    margin: 15px;
  }



  /* ------- case study ------- */
  .centered {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  } 
  
  .centered .case-study-image {
    width: 75%;
    margin: 0;
  }

  .centered p.label {
    margin-bottom: 0;
  }
  
  .column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: 33px 0 50px;
    padding-bottom: 0;
  }

  .column p,
  .column .case-study-image {
    margin-top: 0;
    margin-bottom: 0px;
    width: 47%;
  }

  .column .case-study-image {
    margin-bottom: 50px;
  }

  .column .case-study-image.no-bottom,
  .column p.no-bottom {
    margin-bottom: 0px;
  }

  .column p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .stack {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 47%;
  }

  .stack .case-study-image {
    width: 100%;
    margin-top: 0;
  }

  .stack p {
    margin-bottom: 30px;
    width: 100%;
  }

  .column p.label, 
  .stack p.label {
    width: 95%;
    margin-bottom: 2.5%;
  } 

  #sketch-mobile {
    width: 25.33%;
  }
  
  #sketch-tablet {
    width: 60.80%;
  }
  
  #sketch-desktop {
    width: 95%;
  }
}




@media all and (min-width:1200px) {
  .header-content,
  .introduction,
  .case-study-title .projects-centered,
  .case-study-text,
  .skills .content-wrapper,
  .work .content-wrapper,
  .about .content-wrapper,
  .case-study-intro .content-wrapper,
  .project .content-wrapper,
  .process .content-wrapper,
  .conclusions .content-wrapper {
    max-width: 900px;
  }

  .work,
  .case-study-intro {
    width: 100vw;
  }

  .hero,
  footer .content-wrapper {
    max-width: 1200px;
  }

  .case-study-blurb .projects-centered .content-wrapper {
    display: flex;
    justify-content: center;
  }


  /* ------- hero ------- */ 
  #hero-link {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 3.25rem;
    line-height: 4rem;
  }
  .bottom-left {
    bottom: 55px;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

